html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: #f3f4f6;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 22rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: .25rem;
  box-shadow: 0 4px 6px -1px gray;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

.field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: .75rem;
  padding-right: .75rem;
}
.fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  width: 100%;
}

.link-input {
  width: 100%;
  background-color:#e7ebe5;
  padding-right: 1rem;
  padding-top: .75rem;
  padding-bottom:.75rem;
  border-radius: .25rem;
  border-width: 1px;
  margin-bottom: .75rem;
  margin-top: .75rem;
  color: black;
}
::placeholder {
  font-size: 1.5em;
}

.submit {
 width: 180px;
height: 40px;
outline: none;
cursor: pointer;
transition: .5s;
font-size: large;
border-radius: 5px;
font-weight: bolder;
}

.space {
  height: 40px;
  text-align: center;
}

.red-outline {
  outline-style: solid;
  color: red;
}
.error {
  display: inline-block;
  color: red;
  font-style: italic;
  margin-bottom: .5rem;
  font-variant: small-caps;
  font-size: large;
  font-weight: 500;
}

.success-message {
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  text-align: center;
}

.shortLink {
  padding-top: 2rem;
  text-align: center;
text-decoration: none;

}

.do-it-again {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.do-it-again button {
  width: 180px;
  height: 40px;
  outline: none;
  cursor: pointer;
  transition: .5s;
  font-size: large;
  border-radius: 5px;
  font-weight: bolder;
  font-variant: small-caps;
}

